examples/moderate-dynamic-rules-flow.json
{
    "flowContents": {
        "identifier": "0ca68448-019b-1000-38aa-56c37430e41c",
        "instanceIdentifier": "03bab996-f1af-367c-3e7b-adfd485e0d84",
        "name": "moderate-dynamic-rules-flow",
        "comments": "",
        "position": {
            "x": 200.0,
            "y": -16.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "0ca68455-019b-1000-1aec-511efb50ec7d",
                "instanceIdentifier": "bfacac83-9eb9-3ca5-6a1b-78298850fb67",
                "name": "GenerateFlowFile",
                "comments": "",
                "position": {
                    "x": -360.0,
                    "y": 432.0
                },
                "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.6.0"
                },
                "properties": {
                    "character-set": "UTF-8",
                    "File Size": "0B",
                    "mime-type": null,
                    "generate-ff-custom-text": null,
                    "Batch Size": "1",
                    "Unique FlowFiles": "false",
                    "Data Format": "Text"
                },
                "propertyDescriptors": {
                    "character-set": {
                        "name": "character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "File Size": {
                        "name": "File Size",
                        "displayName": "File Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "mime-type": {
                        "name": "mime-type",
                        "displayName": "Mime Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "generate-ff-custom-text": {
                        "name": "generate-ff-custom-text",
                        "displayName": "Custom Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Unique FlowFiles": {
                        "name": "Unique FlowFiles",
                        "displayName": "Unique FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Data Format": {
                        "name": "Data Format",
                        "displayName": "Data Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "1 min",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0f094e63-668c-36b4-92d3-9bbb86407008",
                "instanceIdentifier": "0ce2c5dd-019b-1000-87d5-c8ae824f68d3",
                "name": "UpdateAttribute",
                "comments": "",
                "position": {
                    "x": -1032.0,
                    "y": 200.0
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "2.6.0"
                },
                "properties": {
                    "Delete Attributes Expression": null,
                    "dataset.id": "${invokehttp.request.url\n    :replaceAll('\\\\?.*$','')\n    :replaceAll('/+$','')\n    :replaceAll('^.*/','')}",
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "Stateful Variables Initial Value": null
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "dataset.id": {
                        "name": "dataset.id",
                        "displayName": "dataset.id",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "name": "canonical-value-lookup-cache-size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca68456-019b-1000-f8ef-f6255ca7873c",
                "instanceIdentifier": "ce240639-46e0-304f-da27-4d57464c48f7",
                "name": "PublishKafka VALID",
                "comments": "",
                "position": {
                    "x": 952.0,
                    "y": -280.0
                },
                "type": "org.apache.nifi.kafka.processors.PublishKafka",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-kafka-nar",
                    "version": "2.6.0"
                },
                "properties": {
                    "compression.type": "gzip",
                    "acks": "all",
                    "Message Demarcator": null,
                    "Kafka Key Attribute Encoding": "utf-8",
                    "Record Reader": null,
                    "Record Metadata Strategy": "FROM_PROPERTIES",
                    "Transactional ID Prefix": null,
                    "Header Encoding": "UTF-8",
                    "max.request.size": "1 MB",
                    "Topic Name": "valid",
                    "Kafka Key": null,
                    "partition": null,
                    "Kafka Connection Service": "0ca6844a-019b-1000-ffc7-489650bd3119",
                    "Publish Strategy": "USE_VALUE",
                    "Record Key Writer": null,
                    "Failure Strategy": "Route to Failure",
                    "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
                    "Record Writer": "0ca6844b-019b-1000-9418-85bd2c53cf24",
                    "Transactions Enabled": "true",
                    "Message Key Field": null,
                    "FlowFile Attribute Header Pattern": null
                },
                "propertyDescriptors": {
                    "compression.type": {
                        "name": "compression.type",
                        "displayName": "Compression Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "acks": {
                        "name": "acks",
                        "displayName": "Delivery Guarantee",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Message Demarcator": {
                        "name": "Message Demarcator",
                        "displayName": "Message Demarcator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Key Attribute Encoding": {
                        "name": "Kafka Key Attribute Encoding",
                        "displayName": "Kafka Key Attribute Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Metadata Strategy": {
                        "name": "Record Metadata Strategy",
                        "displayName": "Record Metadata Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Transactional ID Prefix": {
                        "name": "Transactional ID Prefix",
                        "displayName": "Transactional ID Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Header Encoding": {
                        "name": "Header Encoding",
                        "displayName": "Header Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "max.request.size": {
                        "name": "max.request.size",
                        "displayName": "Max Request Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Topic Name": {
                        "name": "Topic Name",
                        "displayName": "Topic Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Key": {
                        "name": "Kafka Key",
                        "displayName": "Kafka Key",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "partition": {
                        "name": "partition",
                        "displayName": "Partition",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Connection Service": {
                        "name": "Kafka Connection Service",
                        "displayName": "Kafka Connection Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Publish Strategy": {
                        "name": "Publish Strategy",
                        "displayName": "Publish Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Key Writer": {
                        "name": "Record Key Writer",
                        "displayName": "Record Key Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Failure Strategy": {
                        "name": "Failure Strategy",
                        "displayName": "Failure Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "partitioner.class": {
                        "name": "partitioner.class",
                        "displayName": "Partitioner Class",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Writer": {
                        "name": "Record Writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Transactions Enabled": {
                        "name": "Transactions Enabled",
                        "displayName": "Transactions Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Message Key Field": {
                        "name": "Message Key Field",
                        "displayName": "Message Key Field",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "FlowFile Attribute Header Pattern": {
                        "name": "FlowFile Attribute Header Pattern",
                        "displayName": "FlowFile Attribute Header Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca68450-019b-1000-1c02-08f7252b8979",
                "instanceIdentifier": "a94b5128-494b-3412-32ce-369e93045ce8",
                "name": "PublishKafka VALIDATION",
                "comments": "",
                "position": {
                    "x": 1608.0,
                    "y": 152.0
                },
                "type": "org.apache.nifi.kafka.processors.PublishKafka",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-kafka-nar",
                    "version": "2.6.0"
                },
                "properties": {
                    "compression.type": "gzip",
                    "acks": "all",
                    "Message Demarcator": null,
                    "Kafka Key Attribute Encoding": "utf-8",
                    "Record Reader": null,
                    "Record Metadata Strategy": "FROM_PROPERTIES",
                    "Transactional ID Prefix": null,
                    "Header Encoding": "UTF-8",
                    "max.request.size": "1 MB",
                    "Topic Name": "validation",
                    "Kafka Key": null,
                    "partition": null,
                    "Kafka Connection Service": "0ca6844a-019b-1000-ffc7-489650bd3119",
                    "Publish Strategy": "USE_VALUE",
                    "Record Key Writer": null,
                    "Failure Strategy": "Route to Failure",
                    "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
                    "Record Writer": null,
                    "Transactions Enabled": "true",
                    "Message Key Field": null,
                    "FlowFile Attribute Header Pattern": null
                },
                "propertyDescriptors": {
                    "compression.type": {
                        "name": "compression.type",
                        "displayName": "Compression Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "acks": {
                        "name": "acks",
                        "displayName": "Delivery Guarantee",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Message Demarcator": {
                        "name": "Message Demarcator",
                        "displayName": "Message Demarcator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Key Attribute Encoding": {
                        "name": "Kafka Key Attribute Encoding",
                        "displayName": "Kafka Key Attribute Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Metadata Strategy": {
                        "name": "Record Metadata Strategy",
                        "displayName": "Record Metadata Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Transactional ID Prefix": {
                        "name": "Transactional ID Prefix",
                        "displayName": "Transactional ID Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Header Encoding": {
                        "name": "Header Encoding",
                        "displayName": "Header Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "max.request.size": {
                        "name": "max.request.size",
                        "displayName": "Max Request Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Topic Name": {
                        "name": "Topic Name",
                        "displayName": "Topic Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Key": {
                        "name": "Kafka Key",
                        "displayName": "Kafka Key",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "partition": {
                        "name": "partition",
                        "displayName": "Partition",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Connection Service": {
                        "name": "Kafka Connection Service",
                        "displayName": "Kafka Connection Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Publish Strategy": {
                        "name": "Publish Strategy",
                        "displayName": "Publish Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Key Writer": {
                        "name": "Record Key Writer",
                        "displayName": "Record Key Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Failure Strategy": {
                        "name": "Failure Strategy",
                        "displayName": "Failure Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "partitioner.class": {
                        "name": "partitioner.class",
                        "displayName": "Partitioner Class",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Writer": {
                        "name": "Record Writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Transactions Enabled": {
                        "name": "Transactions Enabled",
                        "displayName": "Transactions Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Message Key Field": {
                        "name": "Message Key Field",
                        "displayName": "Message Key Field",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "FlowFile Attribute Header Pattern": {
                        "name": "FlowFile Attribute Header Pattern",
                        "displayName": "FlowFile Attribute Header Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca68451-019b-1000-a079-badec015904f",
                "instanceIdentifier": "854c26de-3e76-31b0-4801-9015586ac1a5",
                "name": "PublishKafka SAMPLE",
                "comments": "",
                "position": {
                    "x": -360.0,
                    "y": -288.0
                },
                "type": "org.apache.nifi.kafka.processors.PublishKafka",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-kafka-nar",
                    "version": "2.6.0"
                },
                "properties": {
                    "compression.type": "gzip",
                    "acks": "all",
                    "Message Demarcator": null,
                    "Kafka Key Attribute Encoding": "utf-8",
                    "Record Reader": null,
                    "Record Metadata Strategy": "FROM_PROPERTIES",
                    "Transactional ID Prefix": null,
                    "Header Encoding": "UTF-8",
                    "max.request.size": "1 MB",
                    "Topic Name": "sample",
                    "Kafka Key": null,
                    "partition": null,
                    "Kafka Connection Service": "0ca6844a-019b-1000-ffc7-489650bd3119",
                    "Publish Strategy": "USE_VALUE",
                    "Record Key Writer": null,
                    "Failure Strategy": "Route to Failure",
                    "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
                    "Record Writer": "0ca6844b-019b-1000-9418-85bd2c53cf24",
                    "Transactions Enabled": "true",
                    "Message Key Field": null,
                    "FlowFile Attribute Header Pattern": null
                },
                "propertyDescriptors": {
                    "compression.type": {
                        "name": "compression.type",
                        "displayName": "Compression Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "acks": {
                        "name": "acks",
                        "displayName": "Delivery Guarantee",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Message Demarcator": {
                        "name": "Message Demarcator",
                        "displayName": "Message Demarcator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Key Attribute Encoding": {
                        "name": "Kafka Key Attribute Encoding",
                        "displayName": "Kafka Key Attribute Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Metadata Strategy": {
                        "name": "Record Metadata Strategy",
                        "displayName": "Record Metadata Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Transactional ID Prefix": {
                        "name": "Transactional ID Prefix",
                        "displayName": "Transactional ID Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Header Encoding": {
                        "name": "Header Encoding",
                        "displayName": "Header Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "max.request.size": {
                        "name": "max.request.size",
                        "displayName": "Max Request Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Topic Name": {
                        "name": "Topic Name",
                        "displayName": "Topic Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Key": {
                        "name": "Kafka Key",
                        "displayName": "Kafka Key",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "partition": {
                        "name": "partition",
                        "displayName": "Partition",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Connection Service": {
                        "name": "Kafka Connection Service",
                        "displayName": "Kafka Connection Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Publish Strategy": {
                        "name": "Publish Strategy",
                        "displayName": "Publish Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Key Writer": {
                        "name": "Record Key Writer",
                        "displayName": "Record Key Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Failure Strategy": {
                        "name": "Failure Strategy",
                        "displayName": "Failure Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "partitioner.class": {
                        "name": "partitioner.class",
                        "displayName": "Partitioner Class",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Writer": {
                        "name": "Record Writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Transactions Enabled": {
                        "name": "Transactions Enabled",
                        "displayName": "Transactions Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Message Key Field": {
                        "name": "Message Key Field",
                        "displayName": "Message Key Field",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "FlowFile Attribute Header Pattern": {
                        "name": "FlowFile Attribute Header Pattern",
                        "displayName": "FlowFile Attribute Header Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "1c576d14-bdd1-30f2-b09c-b21f0fa49f47",
                "instanceIdentifier": "0ca7b855-019b-1000-f898-c34a47c3c4d8",
                "name": "RuleBuilderProcessor",
                "comments": "",
                "position": {
                    "x": 288.0,
                    "y": -16.0
                },
                "type": "RuleBuilderProcessor",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "python-extensions",
                    "version": "2.0.0-M4"
                },
                "properties": {
                    "Sample Size": "500",
                    "Regex Derivation": "true",
                    "Fingerprint Attribute": "dataset.fingerprint",
                    "Format": "AUTO",
                    "Min Sample Size": "200",
                    "Dataset ID Attribute": "dataset.id",
                    "Max Sample Size": "5000",
                    "Max Categories": "20",
                    "Sample Size Percent": "10",
                    "Permissive Numeric Checks": "true"
                },
                "propertyDescriptors": {
                    "Sample Size": {
                        "name": "Sample Size",
                        "displayName": "Sample Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Regex Derivation": {
                        "name": "Regex Derivation",
                        "displayName": "Regex Derivation",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Fingerprint Attribute": {
                        "name": "Fingerprint Attribute",
                        "displayName": "Fingerprint Attribute",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Format": {
                        "name": "Format",
                        "displayName": "Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Min Sample Size": {
                        "name": "Min Sample Size",
                        "displayName": "Min Sample Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Dataset ID Attribute": {
                        "name": "Dataset ID Attribute",
                        "displayName": "Dataset ID Attribute",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Max Sample Size": {
                        "name": "Max Sample Size",
                        "displayName": "Max Sample Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Max Categories": {
                        "name": "Max Categories",
                        "displayName": "Max Categories",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Sample Size Percent": {
                        "name": "Sample Size Percent",
                        "displayName": "Sample Size Percent",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Permissive Numeric Checks": {
                        "name": "Permissive Numeric Checks",
                        "displayName": "Permissive Numeric Checks",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca68457-019b-1000-458f-bc0fb778147f",
                "instanceIdentifier": "534a3669-cec7-3960-ddbd-798c26a646f9",
                "name": "InvokeHTTP",
                "comments": "",
                "position": {
                    "x": -1032.0,
                    "y": 432.0
                },
                "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.6.0"
                },
                "properties": {
                    "Request Content-Encoding": "DISABLED",
                    "proxy-configuration-service": null,
                    "Request Multipart Form-Data Filename Enabled": "true",
                    "Request Chunked Transfer-Encoding Enabled": "false",
                    "Response Header Request Attributes Prefix": null,
                    "HTTP/2 Disabled": "False",
                    "Connection Timeout": "5 secs",
                    "Response Cookie Strategy": "DISABLED",
                    "Socket Read Timeout": "15 secs",
                    "Socket Idle Connections": "5",
                    "Request Body Enabled": "true",
                    "OAuth2 Access Token Refresh Strategy": "ON_TOKEN_EXPIRATION",
                    "HTTP URL": "https://gist.githubusercontent.com/agmangas/9d1768ac6b57ae975c3b3bf42599bfce/raw/8526e82998ce45962c5d5e87a32362439dd72d21/example-csv.csv",
                    "Request OAuth2 Access Token Provider": null,
                    "Socket Idle Timeout": "5 mins",
                    "Response Redirects Enabled": "True",
                    "Socket Write Timeout": "15 secs",
                    "Request Header Attributes Pattern": null,
                    "Response FlowFile Naming Strategy": "RANDOM",
                    "Response Cache Enabled": "false",
                    "Request Date Header Enabled": "True",
                    "Request Failure Penalization Enabled": "false",
                    "Response Body Attribute Size": "256",
                    "SSL Context Service": null,
                    "Response Generation Required": "false",
                    "Request User-Agent": null,
                    "Response Header Request Attributes Enabled": "false",
                    "HTTP Method": "GET",
                    "Request Username": null,
                    "Request Content-Type": "${mime.type}",
                    "Response Body Attribute Name": null,
                    "Request Digest Authentication Enabled": "false",
                    "Request Multipart Form-Data Name": null,
                    "Response Cache Size": "10MB",
                    "Response Body Ignored": "false"
                },
                "propertyDescriptors": {
                    "Request Content-Encoding": {
                        "name": "Request Content-Encoding",
                        "displayName": "Request Content-Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "proxy-configuration-service": {
                        "name": "proxy-configuration-service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Multipart Form-Data Filename Enabled": {
                        "name": "Request Multipart Form-Data Filename Enabled",
                        "displayName": "Request Multipart Form-Data Filename Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Chunked Transfer-Encoding Enabled": {
                        "name": "Request Chunked Transfer-Encoding Enabled",
                        "displayName": "Request Chunked Transfer-Encoding Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Header Request Attributes Prefix": {
                        "name": "Response Header Request Attributes Prefix",
                        "displayName": "Response Header Request Attributes Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP/2 Disabled": {
                        "name": "HTTP/2 Disabled",
                        "displayName": "HTTP/2 Disabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Connection Timeout": {
                        "name": "Connection Timeout",
                        "displayName": "Connection Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cookie Strategy": {
                        "name": "Response Cookie Strategy",
                        "displayName": "Response Cookie Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Password": {
                        "name": "Request Password",
                        "displayName": "Request Password",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    },
                    "Socket Read Timeout": {
                        "name": "Socket Read Timeout",
                        "displayName": "Socket Read Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Idle Connections": {
                        "name": "Socket Idle Connections",
                        "displayName": "Socket Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Body Enabled": {
                        "name": "Request Body Enabled",
                        "displayName": "Request Body Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "OAuth2 Access Token Refresh Strategy": {
                        "name": "OAuth2 Access Token Refresh Strategy",
                        "displayName": "OAuth2 Access Token Refresh Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP URL": {
                        "name": "HTTP URL",
                        "displayName": "HTTP URL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request OAuth2 Access Token Provider": {
                        "name": "Request OAuth2 Access Token Provider",
                        "displayName": "Request OAuth2 Access Token Provider",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Idle Timeout": {
                        "name": "Socket Idle Timeout",
                        "displayName": "Socket Idle Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Redirects Enabled": {
                        "name": "Response Redirects Enabled",
                        "displayName": "Response Redirects Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Write Timeout": {
                        "name": "Socket Write Timeout",
                        "displayName": "Socket Write Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Header Attributes Pattern": {
                        "name": "Request Header Attributes Pattern",
                        "displayName": "Request Header Attributes Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response FlowFile Naming Strategy": {
                        "name": "Response FlowFile Naming Strategy",
                        "displayName": "Response FlowFile Naming Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cache Enabled": {
                        "name": "Response Cache Enabled",
                        "displayName": "Response Cache Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Date Header Enabled": {
                        "name": "Request Date Header Enabled",
                        "displayName": "Request Date Header Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Failure Penalization Enabled": {
                        "name": "Request Failure Penalization Enabled",
                        "displayName": "Request Failure Penalization Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Attribute Size": {
                        "name": "Response Body Attribute Size",
                        "displayName": "Response Body Attribute Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Generation Required": {
                        "name": "Response Generation Required",
                        "displayName": "Response Generation Required",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request User-Agent": {
                        "name": "Request User-Agent",
                        "displayName": "Request User-Agent",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Header Request Attributes Enabled": {
                        "name": "Response Header Request Attributes Enabled",
                        "displayName": "Response Header Request Attributes Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP Method": {
                        "name": "HTTP Method",
                        "displayName": "HTTP Method",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Username": {
                        "name": "Request Username",
                        "displayName": "Request Username",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Content-Type": {
                        "name": "Request Content-Type",
                        "displayName": "Request Content-Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Attribute Name": {
                        "name": "Response Body Attribute Name",
                        "displayName": "Response Body Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Digest Authentication Enabled": {
                        "name": "Request Digest Authentication Enabled",
                        "displayName": "Request Digest Authentication Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Multipart Form-Data Name": {
                        "name": "Request Multipart Form-Data Name",
                        "displayName": "Request Multipart Form-Data Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cache Size": {
                        "name": "Response Cache Size",
                        "displayName": "Response Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Ignored": {
                        "name": "Response Body Ignored",
                        "displayName": "Response Body Ignored",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "No Retry",
                    "Retry",
                    "Original",
                    "Failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca68454-019b-1000-a7a6-786702c5496c",
                "instanceIdentifier": "377241ee-4173-38f5-63c6-08d513e3ca0b",
                "name": "DQAValidator",
                "comments": "",
                "position": {
                    "x": 952.0,
                    "y": -16.0
                },
                "type": "DQAValidator",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "python-extensions",
                    "version": "2.0.0-M4"
                },
                "properties": {
                    "Validation Rules": "${dqa.rules}",
                    "Validator ID": "${dataset.id}"
                },
                "propertyDescriptors": {
                    "Validation Rules": {
                        "name": "Validation Rules",
                        "displayName": "Validation Rules",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Validator ID": {
                        "name": "Validator ID",
                        "displayName": "Validator ID",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 10,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca68452-019b-1000-b14d-bf2ff5ac4f16",
                "instanceIdentifier": "69d51bca-c36e-3ee8-2a14-a6931fefe159",
                "name": "UnifiedDataModelEncapsulator",
                "comments": "",
                "position": {
                    "x": -360.0,
                    "y": -16.0
                },
                "type": "UnifiedDataModelEncapsulator",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "python-extensions",
                    "version": "2.0.0-M4"
                },
                "properties": {
                    "sourceID": "file1",
                    "metricTypeID": "demo",
                    "infoType": "demo",
                    "sourceType": "csv_data",
                    "dataType": "demo",
                    "dataItemID": "demo"
                },
                "propertyDescriptors": {
                    "sourceID": {
                        "name": "sourceID",
                        "displayName": "sourceID",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "metricTypeID": {
                        "name": "metricTypeID",
                        "displayName": "metricTypeID",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "infoType": {
                        "name": "infoType",
                        "displayName": "infoType",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "sourceType": {
                        "name": "sourceType",
                        "displayName": "sourceType",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "dataType": {
                        "name": "dataType",
                        "displayName": "dataType",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "dataItemID": {
                        "name": "dataItemID",
                        "displayName": "dataItemID",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 10,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca68453-019b-1000-c216-09cb3840f1be",
                "instanceIdentifier": "9940f437-d9f8-3f5b-2416-62a53d66246a",
                "name": "PublishKafka INVALID",
                "comments": "",
                "position": {
                    "x": 1608.0,
                    "y": -200.0
                },
                "type": "org.apache.nifi.kafka.processors.PublishKafka",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-kafka-nar",
                    "version": "2.6.0"
                },
                "properties": {
                    "compression.type": "gzip",
                    "acks": "all",
                    "Message Demarcator": null,
                    "Kafka Key Attribute Encoding": "utf-8",
                    "Record Reader": null,
                    "Record Metadata Strategy": "FROM_PROPERTIES",
                    "Transactional ID Prefix": null,
                    "Header Encoding": "UTF-8",
                    "max.request.size": "1 MB",
                    "Topic Name": "invalid",
                    "Kafka Key": null,
                    "partition": null,
                    "Kafka Connection Service": "0ca6844a-019b-1000-ffc7-489650bd3119",
                    "Publish Strategy": "USE_VALUE",
                    "Record Key Writer": null,
                    "Failure Strategy": "Route to Failure",
                    "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
                    "Record Writer": "0ca6844b-019b-1000-9418-85bd2c53cf24",
                    "Transactions Enabled": "true",
                    "Message Key Field": null,
                    "FlowFile Attribute Header Pattern": null
                },
                "propertyDescriptors": {
                    "compression.type": {
                        "name": "compression.type",
                        "displayName": "Compression Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "acks": {
                        "name": "acks",
                        "displayName": "Delivery Guarantee",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Message Demarcator": {
                        "name": "Message Demarcator",
                        "displayName": "Message Demarcator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Key Attribute Encoding": {
                        "name": "Kafka Key Attribute Encoding",
                        "displayName": "Kafka Key Attribute Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Metadata Strategy": {
                        "name": "Record Metadata Strategy",
                        "displayName": "Record Metadata Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Transactional ID Prefix": {
                        "name": "Transactional ID Prefix",
                        "displayName": "Transactional ID Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Header Encoding": {
                        "name": "Header Encoding",
                        "displayName": "Header Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "max.request.size": {
                        "name": "max.request.size",
                        "displayName": "Max Request Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Topic Name": {
                        "name": "Topic Name",
                        "displayName": "Topic Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Key": {
                        "name": "Kafka Key",
                        "displayName": "Kafka Key",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "partition": {
                        "name": "partition",
                        "displayName": "Partition",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Connection Service": {
                        "name": "Kafka Connection Service",
                        "displayName": "Kafka Connection Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Publish Strategy": {
                        "name": "Publish Strategy",
                        "displayName": "Publish Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Key Writer": {
                        "name": "Record Key Writer",
                        "displayName": "Record Key Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Failure Strategy": {
                        "name": "Failure Strategy",
                        "displayName": "Failure Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "partitioner.class": {
                        "name": "partitioner.class",
                        "displayName": "Partitioner Class",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Writer": {
                        "name": "Record Writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Transactions Enabled": {
                        "name": "Transactions Enabled",
                        "displayName": "Transactions Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Message Key Field": {
                        "name": "Message Key Field",
                        "displayName": "Message Key Field",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "FlowFile Attribute Header Pattern": {
                        "name": "FlowFile Attribute Header Pattern",
                        "displayName": "FlowFile Attribute Header Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca6844c-019b-1000-a649-8e2660d1280e",
                "instanceIdentifier": "73b8f034-8bff-3820-6a7b-1aaded091701",
                "name": "PublishKafka RAW",
                "comments": "",
                "position": {
                    "x": -1032.0,
                    "y": -288.0
                },
                "type": "org.apache.nifi.kafka.processors.PublishKafka",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-kafka-nar",
                    "version": "2.6.0"
                },
                "properties": {
                    "compression.type": "gzip",
                    "acks": "all",
                    "Message Demarcator": null,
                    "Kafka Key Attribute Encoding": "utf-8",
                    "Record Reader": null,
                    "Record Metadata Strategy": "FROM_PROPERTIES",
                    "Transactional ID Prefix": null,
                    "Header Encoding": "UTF-8",
                    "max.request.size": "1 MB",
                    "Topic Name": "raw",
                    "Kafka Key": null,
                    "partition": null,
                    "Kafka Connection Service": "0ca6844a-019b-1000-ffc7-489650bd3119",
                    "Publish Strategy": "USE_VALUE",
                    "Record Key Writer": null,
                    "Failure Strategy": "Route to Failure",
                    "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
                    "Record Writer": "0ca6844b-019b-1000-9418-85bd2c53cf24",
                    "Transactions Enabled": "false",
                    "Message Key Field": null,
                    "FlowFile Attribute Header Pattern": null
                },
                "propertyDescriptors": {
                    "compression.type": {
                        "name": "compression.type",
                        "displayName": "Compression Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "acks": {
                        "name": "acks",
                        "displayName": "Delivery Guarantee",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Message Demarcator": {
                        "name": "Message Demarcator",
                        "displayName": "Message Demarcator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Key Attribute Encoding": {
                        "name": "Kafka Key Attribute Encoding",
                        "displayName": "Kafka Key Attribute Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Metadata Strategy": {
                        "name": "Record Metadata Strategy",
                        "displayName": "Record Metadata Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Transactional ID Prefix": {
                        "name": "Transactional ID Prefix",
                        "displayName": "Transactional ID Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Header Encoding": {
                        "name": "Header Encoding",
                        "displayName": "Header Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "max.request.size": {
                        "name": "max.request.size",
                        "displayName": "Max Request Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Topic Name": {
                        "name": "Topic Name",
                        "displayName": "Topic Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Key": {
                        "name": "Kafka Key",
                        "displayName": "Kafka Key",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "partition": {
                        "name": "partition",
                        "displayName": "Partition",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Connection Service": {
                        "name": "Kafka Connection Service",
                        "displayName": "Kafka Connection Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Publish Strategy": {
                        "name": "Publish Strategy",
                        "displayName": "Publish Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Key Writer": {
                        "name": "Record Key Writer",
                        "displayName": "Record Key Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Failure Strategy": {
                        "name": "Failure Strategy",
                        "displayName": "Failure Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "partitioner.class": {
                        "name": "partitioner.class",
                        "displayName": "Partitioner Class",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Writer": {
                        "name": "Record Writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Transactions Enabled": {
                        "name": "Transactions Enabled",
                        "displayName": "Transactions Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Message Key Field": {
                        "name": "Message Key Field",
                        "displayName": "Message Key Field",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "FlowFile Attribute Header Pattern": {
                        "name": "FlowFile Attribute Header Pattern",
                        "displayName": "FlowFile Attribute Header Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca6844d-019b-1000-5c36-39bb4331891d",
                "instanceIdentifier": "ab86697d-af1c-37ad-bd47-186aaccc24ca",
                "name": "SplitRecord",
                "comments": "",
                "position": {
                    "x": -1032.0,
                    "y": -16.0
                },
                "type": "org.apache.nifi.processors.standard.SplitRecord",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.6.0"
                },
                "properties": {
                    "Record Writer": "0ca6844b-019b-1000-9418-85bd2c53cf24",
                    "Record Reader": "0ca68449-019b-1000-e55d-bbdbd5a910f6",
                    "Records Per Split": "1"
                },
                "propertyDescriptors": {
                    "Record Writer": {
                        "name": "Record Writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Records Per Split": {
                        "name": "Records Per Split",
                        "displayName": "Records Per Split",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "0ca68458-019b-1000-57bc-dd890259137e",
                "instanceIdentifier": "3496d2db-7fee-3485-2755-13eab23d69c5",
                "name": "",
                "source": {
                    "id": "0ca68454-019b-1000-a7a6-786702c5496c",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "DQAValidator",
                    "comments": "",
                    "instanceIdentifier": "377241ee-4173-38f5-63c6-08d513e3ca0b"
                },
                "destination": {
                    "id": "0ca68456-019b-1000-f8ef-f6255ca7873c",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "PublishKafka VALID",
                    "comments": "",
                    "instanceIdentifier": "ce240639-46e0-304f-da27-4d57464c48f7"
                },
                "labelIndex": 0,
                "zIndex": 5,
                "selectedRelationships": [
                    "valid"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca68459-019b-1000-223d-a38a2cc022de",
                "instanceIdentifier": "0edfe074-6443-32d6-9a74-3d27e276d526",
                "name": "",
                "source": {
                    "id": "0ca68454-019b-1000-a7a6-786702c5496c",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "DQAValidator",
                    "comments": "",
                    "instanceIdentifier": "377241ee-4173-38f5-63c6-08d513e3ca0b"
                },
                "destination": {
                    "id": "0ca68450-019b-1000-1c02-08f7252b8979",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "PublishKafka VALIDATION",
                    "comments": "",
                    "instanceIdentifier": "a94b5128-494b-3412-32ce-369e93045ce8"
                },
                "labelIndex": 0,
                "zIndex": 6,
                "selectedRelationships": [
                    "valid",
                    "invalid"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "4f1dae53-5e7b-36cd-bdc0-3a43e4ed60a4",
                "instanceIdentifier": "0ce2dfea-019b-1000-919d-aec53209910b",
                "name": "",
                "source": {
                    "id": "0ca68457-019b-1000-458f-bc0fb778147f",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "InvokeHTTP",
                    "comments": "",
                    "instanceIdentifier": "534a3669-cec7-3960-ddbd-798c26a646f9"
                },
                "destination": {
                    "id": "0f094e63-668c-36b4-92d3-9bbb86407008",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "0ce2c5dd-019b-1000-87d5-c8ae824f68d3"
                },
                "labelIndex": 0,
                "zIndex": 14,
                "selectedRelationships": [
                    "Response"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "b32c75b7-c389-3d90-ad83-b165b397d9c4",
                "instanceIdentifier": "0ce2eb79-019b-1000-5dc1-93b9d4efa3be",
                "name": "",
                "source": {
                    "id": "0f094e63-668c-36b4-92d3-9bbb86407008",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "0ce2c5dd-019b-1000-87d5-c8ae824f68d3"
                },
                "destination": {
                    "id": "0ca6844d-019b-1000-5c36-39bb4331891d",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "SplitRecord",
                    "comments": "",
                    "instanceIdentifier": "ab86697d-af1c-37ad-bd47-186aaccc24ca"
                },
                "labelIndex": 0,
                "zIndex": 15,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca68460-019b-1000-5644-22645c3be24d",
                "instanceIdentifier": "058edb24-a6cc-30a4-d78b-48f85b9172ee",
                "name": "",
                "source": {
                    "id": "0ca68452-019b-1000-b14d-bf2ff5ac4f16",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "UnifiedDataModelEncapsulator",
                    "comments": "",
                    "instanceIdentifier": "69d51bca-c36e-3ee8-2a14-a6931fefe159"
                },
                "destination": {
                    "id": "0ca68451-019b-1000-a079-badec015904f",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "PublishKafka SAMPLE",
                    "comments": "",
                    "instanceIdentifier": "854c26de-3e76-31b0-4801-9015586ac1a5"
                },
                "labelIndex": 0,
                "zIndex": 3,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "76a92110-2304-3253-9214-304efb6ba295",
                "instanceIdentifier": "0d090c86-019b-1000-c5a8-d4ba75e3528a",
                "name": "",
                "source": {
                    "id": "0ca68452-019b-1000-b14d-bf2ff5ac4f16",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "UnifiedDataModelEncapsulator",
                    "comments": "",
                    "instanceIdentifier": "69d51bca-c36e-3ee8-2a14-a6931fefe159"
                },
                "destination": {
                    "id": "1c576d14-bdd1-30f2-b09c-b21f0fa49f47",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "RuleBuilderProcessor",
                    "comments": "",
                    "instanceIdentifier": "0ca7b855-019b-1000-f898-c34a47c3c4d8"
                },
                "labelIndex": 0,
                "zIndex": 16,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca6845b-019b-1000-8de6-a850b1dcc126",
                "instanceIdentifier": "79d877c6-8121-3e70-5028-2a5dc5444180",
                "name": "",
                "source": {
                    "id": "0ca6844d-019b-1000-5c36-39bb4331891d",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "SplitRecord",
                    "comments": "",
                    "instanceIdentifier": "ab86697d-af1c-37ad-bd47-186aaccc24ca"
                },
                "destination": {
                    "id": "0ca6844c-019b-1000-a649-8e2660d1280e",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "PublishKafka RAW",
                    "comments": "",
                    "instanceIdentifier": "73b8f034-8bff-3820-6a7b-1aaded091701"
                },
                "labelIndex": 0,
                "zIndex": 1,
                "selectedRelationships": [
                    "splits"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca6845f-019b-1000-14ce-d7ff43985878",
                "instanceIdentifier": "74fbcfc6-b06b-338e-7345-20310f7392fa",
                "name": "",
                "source": {
                    "id": "0ca6844d-019b-1000-5c36-39bb4331891d",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "SplitRecord",
                    "comments": "",
                    "instanceIdentifier": "ab86697d-af1c-37ad-bd47-186aaccc24ca"
                },
                "destination": {
                    "id": "0ca68452-019b-1000-b14d-bf2ff5ac4f16",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "UnifiedDataModelEncapsulator",
                    "comments": "",
                    "instanceIdentifier": "69d51bca-c36e-3ee8-2a14-a6931fefe159"
                },
                "labelIndex": 0,
                "zIndex": 2,
                "selectedRelationships": [
                    "splits"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca6845c-019b-1000-6f0d-f3ce7765180c",
                "instanceIdentifier": "a2756cce-c507-3641-9dfb-2f252efc924b",
                "name": "",
                "source": {
                    "id": "0ca68454-019b-1000-a7a6-786702c5496c",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "DQAValidator",
                    "comments": "",
                    "instanceIdentifier": "377241ee-4173-38f5-63c6-08d513e3ca0b"
                },
                "destination": {
                    "id": "0ca68453-019b-1000-c216-09cb3840f1be",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "PublishKafka INVALID",
                    "comments": "",
                    "instanceIdentifier": "9940f437-d9f8-3f5b-2416-62a53d66246a"
                },
                "labelIndex": 0,
                "zIndex": 9,
                "selectedRelationships": [
                    "invalid"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca68462-019b-1000-fc99-da39d70c7568",
                "instanceIdentifier": "ecfeaa1b-f64c-3ad5-a012-ef8a3685125e",
                "name": "",
                "source": {
                    "id": "0ca68455-019b-1000-1aec-511efb50ec7d",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "GenerateFlowFile",
                    "comments": "",
                    "instanceIdentifier": "bfacac83-9eb9-3ca5-6a1b-78298850fb67"
                },
                "destination": {
                    "id": "0ca68457-019b-1000-458f-bc0fb778147f",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "InvokeHTTP",
                    "comments": "",
                    "instanceIdentifier": "534a3669-cec7-3960-ddbd-798c26a646f9"
                },
                "labelIndex": 0,
                "zIndex": 7,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "47ffd727-ccbc-35e0-836e-c6bbcd6e77e2",
                "instanceIdentifier": "0d0a3533-019b-1000-7d6f-f1eb821ac20e",
                "name": "",
                "source": {
                    "id": "1c576d14-bdd1-30f2-b09c-b21f0fa49f47",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "RuleBuilderProcessor",
                    "comments": "",
                    "instanceIdentifier": "0ca7b855-019b-1000-f898-c34a47c3c4d8"
                },
                "destination": {
                    "id": "0ca68454-019b-1000-a7a6-786702c5496c",
                    "type": "PROCESSOR",
                    "groupId": "0ca68448-019b-1000-38aa-56c37430e41c",
                    "name": "DQAValidator",
                    "comments": "",
                    "instanceIdentifier": "377241ee-4173-38f5-63c6-08d513e3ca0b"
                },
                "labelIndex": 0,
                "zIndex": 17,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
            {
                "identifier": "0ca6844b-019b-1000-9418-85bd2c53cf24",
                "instanceIdentifier": "812cd543-6305-3865-5ba6-3893281e3053",
                "name": "JsonRecordSetWriter",
                "comments": "",
                "type": "org.apache.nifi.json.JsonRecordSetWriter",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.6.0"
                },
                "properties": {
                    "schema-reference-reader": null,
                    "schema-branch": null,
                    "Allow Scientific Notation": "false",
                    "compression-level": "1",
                    "schema-cache": null,
                    "Timestamp Format": null,
                    "Date Format": null,
                    "Pretty Print JSON": "false",
                    "compression-format": "none",
                    "Schema Write Strategy": "no-schema",
                    "suppress-nulls": "never-suppress",
                    "output-grouping": "output-array",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "Time Format": null,
                    "schema-access-strategy": "inherit-record-schema",
                    "schema-version": null,
                    "schema-text": "${avro.schema}",
                    "Schema Reference Writer": null
                },
                "propertyDescriptors": {
                    "schema-reference-reader": {
                        "name": "schema-reference-reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Allow Scientific Notation": {
                        "name": "Allow Scientific Notation",
                        "displayName": "Allow Scientific Notation",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "compression-level": {
                        "name": "compression-level",
                        "displayName": "Compression Level",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-cache": {
                        "name": "schema-cache",
                        "displayName": "Schema Cache",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Pretty Print JSON": {
                        "name": "Pretty Print JSON",
                        "displayName": "Pretty Print JSON",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "compression-format": {
                        "name": "compression-format",
                        "displayName": "Compression Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Write Strategy": {
                        "name": "Schema Write Strategy",
                        "displayName": "Schema Write Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "suppress-nulls": {
                        "name": "suppress-nulls",
                        "displayName": "Suppress Null Values",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "output-grouping": {
                        "name": "output-grouping",
                        "displayName": "Output Grouping",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Reference Writer": {
                        "name": "Schema Reference Writer",
                        "displayName": "Schema Reference Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.6.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca6844a-019b-1000-ffc7-489650bd3119",
                "instanceIdentifier": "de1fc343-b573-3079-f345-1bdf6b95f0e5",
                "name": "Kafka3ConnectionService",
                "comments": "",
                "type": "org.apache.nifi.kafka.service.Kafka3ConnectionService",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-kafka-3-service-nar",
                    "version": "2.6.0"
                },
                "properties": {
                    "ack.wait.time": "5 sec",
                    "sasl.username": "kafka_user",
                    "max.poll.records": "10000",
                    "bootstrap.servers": "diva.moderate.cloud:9092",
                    "sasl.kerberos.service.name": null,
                    "security.protocol": "SASL_SSL",
                    "SSL Context Service": null,
                    "sasl.mechanism": "PLAIN",
                    "isolation.level": "read_committed",
                    "oauth2-access-token-provider-service": null,
                    "max.block.ms": "5 sec",
                    "kerberos-user-service": null,
                    "default.api.timeout.ms": "60 sec"
                },
                "propertyDescriptors": {
                    "ack.wait.time": {
                        "name": "ack.wait.time",
                        "displayName": "Acknowledgment Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "sasl.username": {
                        "name": "sasl.username",
                        "displayName": "SASL Username",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "max.poll.records": {
                        "name": "max.poll.records",
                        "displayName": "Max Poll Records",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "bootstrap.servers": {
                        "name": "bootstrap.servers",
                        "displayName": "Bootstrap Servers",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "sasl.kerberos.service.name": {
                        "name": "sasl.kerberos.service.name",
                        "displayName": "Kerberos Service Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "security.protocol": {
                        "name": "security.protocol",
                        "displayName": "Security Protocol",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "sasl.mechanism": {
                        "name": "sasl.mechanism",
                        "displayName": "SASL Mechanism",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "isolation.level": {
                        "name": "isolation.level",
                        "displayName": "Transaction Isolation Level",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "oauth2-access-token-provider-service": {
                        "name": "oauth2-access-token-provider-service",
                        "displayName": "OAuth2 Access Token Provider Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "max.block.ms": {
                        "name": "max.block.ms",
                        "displayName": "Max Metadata Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "kerberos-user-service": {
                        "name": "kerberos-user-service",
                        "displayName": "Kerberos User Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "sasl.password": {
                        "name": "sasl.password",
                        "displayName": "SASL Password",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    },
                    "default.api.timeout.ms": {
                        "name": "default.api.timeout.ms",
                        "displayName": "Client Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.kafka.service.api.KafkaConnectionService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-kafka-service-api-nar",
                            "version": "2.6.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            },
            {
                "identifier": "0ca68449-019b-1000-e55d-bbdbd5a910f6",
                "instanceIdentifier": "a7cd6ac6-6bad-3c6d-06c8-47029d944c51",
                "name": "CSVReader",
                "comments": "",
                "type": "org.apache.nifi.csv.CSVReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.6.0"
                },
                "properties": {
                    "schema-reference-reader": null,
                    "ignore-csv-header": "false",
                    "schema-branch": null,
                    "Trim double quote": "true",
                    "CSV Format": "custom",
                    "Quote Character": "\"",
                    "csvutils-allow-duplicate-header-names": "true",
                    "Value Separator": ",",
                    "Record Separator": "\\n",
                    "Timestamp Format": null,
                    "Escape Character": "\\",
                    "Date Format": null,
                    "Null String": null,
                    "Skip Header Line": "false",
                    "Trim Fields": "true",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "csv-reader-csv-parser": "commons-csv",
                    "Time Format": null,
                    "Comment Marker": null,
                    "schema-access-strategy": "csv-header-derived",
                    "schema-version": null,
                    "csvutils-character-set": "UTF-8",
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "schema-reference-reader": {
                        "name": "schema-reference-reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "ignore-csv-header": {
                        "name": "ignore-csv-header",
                        "displayName": "Ignore CSV Header Column Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Trim double quote": {
                        "name": "Trim double quote",
                        "displayName": "Trim double quote",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "CSV Format": {
                        "name": "CSV Format",
                        "displayName": "CSV Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Character": {
                        "name": "Quote Character",
                        "displayName": "Quote Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csvutils-allow-duplicate-header-names": {
                        "name": "csvutils-allow-duplicate-header-names",
                        "displayName": "Allow Duplicate Header Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Value Separator": {
                        "name": "Value Separator",
                        "displayName": "Value Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Separator": {
                        "name": "Record Separator",
                        "displayName": "Record Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Escape Character": {
                        "name": "Escape Character",
                        "displayName": "Escape Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Null String": {
                        "name": "Null String",
                        "displayName": "Null String",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Skip Header Line": {
                        "name": "Skip Header Line",
                        "displayName": "Treat First Line as Header",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Trim Fields": {
                        "name": "Trim Fields",
                        "displayName": "Trim Fields",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csv-reader-csv-parser": {
                        "name": "csv-reader-csv-parser",
                        "displayName": "CSV Parser",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Comment Marker": {
                        "name": "Comment Marker",
                        "displayName": "Comment Marker",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csvutils-character-set": {
                        "name": "csvutils-character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.6.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "0ca68448-019b-1000-38aa-56c37430e41c"
            }
        ],
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}